body {
    background: url("./imgs/fundoimg.jpg") no-repeat right top fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 10;
    margin-top: 0px;
    padding-top: 0px;
}

.header {
    background-color: black;
    color: cornsilk;
    opacity: 0.7;
    /* margin-right: 10%;
    margin-left: 10%; */
}

.email_button {
    background-color: whitesmoke;
    color: black;
    opacity: 0.7;
    font-size: 14px;
    float: right;
    border-color: black;
}

.email_header:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

#icon_email {
    height: 25px;
    width: 25px;
}

.img_div {
    display: inline;
    width: 80%; 
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img_card {
    display: inline-block;
    /* background-color: green; */
    font-size: 24px;
    border-style: solid;
    border-radius: 5%;
    /* min-width: 10%; */
    min-width: 35%;
    max-width: 45%;
    min-height: 50%;
    padding-right: 0%;
    padding-left: 1%;
    margin-top: 2%;
    margin-left: 0%;
    max-width: 250px;
    background-color: white;
    flood-opacity: 100%;

    padding: 1%;
    margin: 1%;
    width: 49%;

    align-items: center;
}

.img_produto {
    height: 200px;
    width: 200px;
    margin-top: 10%;
}

.img_produto_div {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.img_sty {
    border-radius: 5%;
    /* margin: 4%; */
    height: 200px;
    width: 200px;
}

.descricao {
    background-color: white;
    opacity: 0.7;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
}

.tabela {
    margin: auto;
}